
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div class="card bg-light" style="height:521px;">
        <div class="card-header">
            Chat App
        </div>
        <div class="card-body" style="max-height: 80%;overflow-y: auto;">
            <div id="login">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="nickName">@@</span>
                            </div>
                            <input type="text" class="form-control" placeholder="please enter a nickname"
                                   aria-label="please enter a nickname" aria-describedby="nickName" id="userInput">
                        </div>
                        <button type="button" class="form-control btn btn-success" id="loginButton">Login</button>
                    </div>
                </div>
            </div>

            <div id="chat" style="display:none;height:100%">
                <div class="row">
                    <div id="messageList" class="col-md-12">
                        <div class="d-flex justify-content-end">
                        </div>
                    </div>
                    <div id="newMessage" class="col-md-12" style="position: absolute;bottom: 10px;">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="messageInput"
                                       placeholder="Type your message.." />
                            </div>
                            <div class="col-md-3">
                                <input type="button" id="sendButton" class="form-control btn btn-success" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
